---
version: 2
updates:
  # Enable GitHub Actions updates
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
    labels:
      - dependencies
      - github-actions

  # Enable npm updates
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: daily
      # UTC
      time: '08:00'
    labels:
      - dependencies
      - npm
    allow:
      - dependency-type: direct
    versioning-strategy: increase-if-necessary
    groups:
      dependencies:
        patterns:
          - '@swc/core*'
    ignore:
      # Ignore all @types/nodes patch updates, since
      # this package updates so frequently
      - dependency-name: '@types/node'
        update-types: ['version-update:semver-patch']
      - dependency-name: io-ts
        versions: ['2.x']
      - dependency-name: '@semantic-release-extras/github-comment-specific'
        versions: ['>1.0.7']
      # Ignore @swc/* dependencies due to upstream issues
      # Specifically, tsc does *not* like this line:
      # https://github.com/swc-project/swc/blob/main/packages/core/src/index.ts#L12
      - dependency-name: '@swc/*'
        versions: ['>1.5.7']
