---
name: GitHub Pages

on:
  push:
    branches:
      - master

concurrency:
  group: ${{ github.workflow }}

# Following the reference documentation
# https://docs.github.com/en/pages/getting-started-with-github-pages/configuring-a-publishing-source-for-your-github-pages-site

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure Node.js
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: npm

      - name: Install dependencies
        run: npm ci
        working-directory: website

      - name: Build Docusaurus static site files
        run: npm run build
        working-directory: website

      - name: Upload static files
        uses: actions/upload-pages-artifact@v2
        with:
          path: website/build

  deploy-docs:
    needs: build-docs
    runs-on: ubuntu-latest

    # Grant GITHUB_TOKEN the permissions required to make a Pages deployment
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source
      contents: write
      deployments: write

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy site to Github Pages
        id: deployment
        uses: actions/deploy-pages@v4
