---
name: Release
permissions:
  # Needed for OIDC Trusted Publishing
  id-token: write
  # Needed for semantic-release
  contents: write
  pull-requests: write
  issues: write

on:
  push:
    branches: [master, alpha, beta, next, next-major]

# Only allow one release workflow to execute at a time, since each release
# workflow uses shared resources (git tags, package registries)
concurrency:
  group: ${{ github.workflow }}

jobs:
  release:
    name: Release
    if: github.repository_owner == 'BitGo'
    runs-on: ubuntu-latest
    environment: publish-apits

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Compile TypeScript
        run: npm run build

      # Run tests before releasing to verify the code behaves as expected. We expect
      # this step to identify some (but not all) semantic merge conflicts
      - name: Test
        run: npm test

      # DISCUSS: Use `jq` or just a small node script to create/modify `.npmrc` in case
      # one gets added in the future
      - name: Prepare Release
        run: mv .npmrc-release .npmrc

      - name: Release
        run: npx multi-semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
